# App configuration
PORT=4000

# Database Configuration (Postgres)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/awesome_ai_db?schema=public"

# JWT configuration
JWT_SECRET="super-secret-development-jwt-signing-key"
JWT_EXPIRES_IN="7d"
